$siteColor2: #4663ac; //prva
$siteColor3: #18acba;
$siteColor1: #cdb66f;
$siteColor: #4663ac;
$sitecolorlighter: darken($siteColor, 20%);
$navItemMargin: 20px;
$titleSize: calc(2rem + 1.5vw);
$recomendedCardBorderRadius: 20px;